extends layout

block content
  h1= title
  p #{title} Listing

  table
    thead
      tr
        th id
        th description
        th device
        th service      
        th characteristic
        th value
        th timestampofchange
        
     tbody
      - each item in rows
        tr
	  td= item.id
          td= item.description
          td= item.device
          td= item.service      
          td= item.characteristic
          td= item.value
          td= item."timestamp"


